@charset "UTF-8";
@font-face {
	font-family: "Dongbaek";
	src: url("aDongbaek.ttf");
}

body {
	font-family: "Dongbaek";
}

#rspTbl {
	margin-left: "auto";
	margin-right: "auto";
}




















